.centrado{
    display: flex;
    justify-content: center;
}

.cuerpo{
    background-color: rgb(241, 215, 236);
    font-family: Arial, Helvetica, sans-serif;
}

.link_fondo{
    position: absolute;
    top: 98%;
    left: 85%;
}