.centrado{
    display: flex;
    justify-content: center;
}

.cuerpo{
    background-color: rgb(241, 215, 236);
    font-family: Arial, Helvetica, sans-serif;
}

.link_fondo{
    display: flex;
    justify-content: flex-end;
}

.imagen{
    height: 300px;
    width: 500px;
    border-radius: 0.5cm;
    box-shadow: 3px 3px 1px rgb(163, 128, 161);
}

.texto_centrado{
    text-align: center;
}